{


  "env": {
    "test": {
      "presets": ["latest", "stage-0"],
      "plugins": ["transform-runtime"]
    },
    "rollup": {
      "presets": [
        ["latest", {
          "es2015": {
            "modules": false
          }
        }], "stage-0"
      ],
      "plugins": ["external-helpers"]
    }
  }
}
